/*work on the UI
    title and textarea
    random word show box
    random word show animation
    random word button

    add list at the end...maybe hidden

    toggle existing lists

    find happy font
*/






*, *::before, *::after {
    box-sizing: border-box;
} 
* {
    margin: 0;
    padding: 0; 
} 
:root {
    --animationDuration: 1000ms;
    --naplesYellow: #FEE165;
    --redOrange: #F6511D;
    --CarolinaBlue: #00A6ED;
    --OxfordBlue: #0D2C54;
    --YInMnBlue: #355070;
    --roboto: 'Roboto', sans-serif;
    --grandstander: 'Grandstander', cursive;
}
/* html {
    color-scheme: dark light;
}  */
html, body {
    height: 100%; 
} 
body{
    max-width: 500px;
    margin: 2rem auto;
    background: rgb(237,237,237);
background: linear-gradient(318deg, rgba(237,237,237,1) 13%, rgba(189,195,204,1) 16%, rgba(112,130,152,1) 48%, rgba(126,141,161,1) 52%, rgba(115,132,154,1) 88%, rgba(13,44,84,1) 94%);
    
}
p, li, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
p {
    line-height: 1.5;
}
img, video, svg, video {
    display: block;
    max-width: 100%;
}


html {
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
    font-family: var(--roboto);  
    color: var(--OxfordBlue);

}
textarea,
button,
input {
    font-family: inherit;
}
:target {
    color: aqua;
}

#to-save {
    transition: transform 500ms ease;
}
#to-save:target {
    transform: scale(1.5) rotate(1turn);
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav ul {
    display: none;
    gap: 0.2rem;
}

li {
    list-style-type: none;
    transform: translate(0);

}

a {
    text-decoration: none;
    padding: 0.5rem;
    background-color: rgb(252, 243, 122);
    color: darkblue;
    border-radius: 20px;
}
.nav div{
    width: 3rem;
}
#key,
#word-list,
/* .output, */
.divvy,
.list  {
    margin-block: 0.3rem;
    border: var(--YInMnBlue);
    border-radius: 10px;
    box-shadow: 1px 1px 3px var(--YInMnBlue);  
}
#key:focus,
#word-list:focus {
    outline: 2px solid var(--OxfordBlue);
}
#key,
#word-list {
    padding-inline: 1rem;
    padding-block: 0.5rem;
}
h1 {
    text-align: center;
    margin-bottom: 2rem;
}

.students {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    justify-content: center;
}
.item {
   height: calc(80vh / 6);
    width: 25%;
    position: relative;
    background: rgb(201,219,241);
    background: linear-gradient(313deg, rgba(201,219,241,1) 0%, rgba(255,255,255,1) 71%);
  
    border: none;

    font-size: 1rem;

}



.item:active {
    transform: scale(0.9);
    box-shadow: 2px 2px 10px #355070
}

.count {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 30px;
    height: 30px;
    font-weight: 600;
    border: 1px solid black;
}
.count-disabled {
    color: grey;
    font-size: 0.8rem;
    font-family: var(--roboto);
    font-weight: 100;
    width: 100%;
    border: none;

}


.output {
    display: block;
    margin: 2rem auto;
    width: max-content;
    border-radius: 10px;
    background: rgb(237,237,237);
    background: radial-gradient(circle, rgba(237,237,237,1) 0%, rgba(251,196,178,1) 100%);
    padding: 1rem;


 
    color: var(--CarolinaBlue);
    border: 1px var(--OxfordBlue);
    box-shadow: 5px 5px 20px 1px var(--YInMnBlue);  
    text-align: center;
    font-family: var(--grandstander);
    font-weight: 800;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;

}

.output:active {
    transform: scale(0.98);
    box-shadow: 1px 1px 22px 1px rgba(0, 0, 0, 0.24);
} 


.collapsible {
    background-color: #eee;
    color: var(--CarolinaBlue);
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    border: none;
    text-align: left;
    
}
.collapsible:after {
    content: '\002B'; 
    color: var(--CarolinaBlue);
    float: right;
}
.active {
    background-color: #0D2C54;
    
}

.active:after {
    content: "\2212";
}
.weekX {
    max-height: 0;
    overflow: hidden;
    transition: 300ms ease-in-out;
    position: relative;
    background: rgb(201,219,241);
    background: linear-gradient(313deg, rgba(201,219,241,1) 0%, rgba(255,255,255,1) 71%);
} 
.weekX li {
    padding: 0.2rem;
}













/* CHANGE this to move title and words away */
.input {
    display: flex;
    flex-direction: column;
    max-width: 40%;
}

.buttons {
    display: inherit;
    justify-content: space-around;
}


button {
    display: block;
}
#random {
    width: 100px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: none;
    background: no-repeat center/110% url(/images/spin\ wheel.png);
}

.remove {
    background-color: transparent;
    color: darkblue;
    font-size: 2rem;
    border-radius: 20%;
    padding: 0.2rem;
    border: none;
    position: absolute;
    right: 5%;
    top: 5%; 
    
}
.addToRoster {
    color: var(--YInMnBlue);
    background-color: transparent;
    border: none;
    border-radius: 20%;
    padding: 0.2rem;
    position: absolute;
    right: 2%;
    bottom: 0%;
    font-size: 2rem;
}



.checked {
    color: var(--CarolinaBlue);
    transition: 300ms ease-in-out;
}


.addToRosterAnimation {
    animation: jiggle 500ms ease-in-out;
} 

.removeAnimation {
    background-color: transparent;
    transition: var(--animationDuration);
} 
.removeIAnimation {
    transform: scale(0.1) rotate(1turn);
    transition: var(--animationDuration) ease;
}





#collection,
.existing-lists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}







.divvy {
    padding: 0.5rem;
    transform: rotate(1turn);
    animation: entry 300ms linear;
    flex: 1 1 3rem;
    position: relative;
    max-width: 100%;
    background: rgb(201,219,241);
background: linear-gradient(313deg, rgba(201,219,241,1) 0%, rgba(255,255,255,1) 71%);


}



/* .scoate-afara {
    transform: translateX(100vw);
} */

.divvy h5,
.list h5 {
    padding-right: 3.5rem;
    font-size: 1.2rem;
    font-weight: 600;
}
.divvy ul,
.list ul {
    padding-top: 0.5rem;
    padding-right: 3.5rem;
}
.divvy h5,
.list h5 {
    max-width: max-content;
}
.divvy li,
.list li {
    overflow-wrap: break-word;
}



@keyframes entry {
    from {
        transform: scaleY(0) 
    }
    to {
        transform: scaleY(1) ;
        
    }
}


.outputAnimation {
    animation: word 300ms ease-in-out;
}
@keyframes word {
    from {
        transform: scalex(0) scaleY(0) ;
    }
    to {
        transform: scalex(1) scaleY(1) ;
        
    }
}

@keyframes jiggle {
    20% {
        transform: translateX(-20%)
    }
    40% {
        transform: translateX(20%)
    }
    60% {
        transform: translateX(-10%)
    }
    80% {
        transform: translateX(10%)
    }
}

@media screen and (min-width: 45em) {
    nav li:hover {
        transform: translate(0, 5px);
        transition:  300ms ease;
    }
    
    nav a:hover {
        background-color: darkblue;
        color: yellow;
        transition:  300ms ease;
        
    }
}

.resetPoints {
    margin: 2rem;
}


/* //// add remove animation
/* //// change existing buttons 
/* //// change divvy style
/* //// change instructions and add CSS


.reset