
#myLists {
    margin-block: 100px;
    width: 90%;
    display: grid;
    gap: 1rem;
    grid-template-areas: 'a a a';
    grid-auto-columns: 1fr;

}
.collapsible {
    background-color: #eee;
    color: var(--CarolinaBlue);
    cursor: pointer;
    padding: 1rem;
    width: 100%;
    border: none;
    text-align: left;
}
.collapsible:after {
    content: '\002B'; 
    color: var(--CarolinaBlue);
    float: right;
}
.active {
    background-color: #0D2C54;
}
.active:after {
    content: "\2212";
}
.weekX {
    max-height: 0;
    overflow: hidden;
    transition: 300ms ease-in-out;
    position: relative;
    background: rgb(201,219,241);
    background: linear-gradient(313deg, rgba(201,219,241,1) 0%, rgba(255,255,255,1) 71%);
} 
.weekX li {
    padding: 0.2rem;
}





.addToRoster {
    color: var(--YInMnBlue);
    background-color: transparent;
    border: none;
    border-radius: 20%;
    padding: 0.2rem;
    position: absolute;
    right: 2%;
    top: 0%;
    font-size: 2rem;
}
.checked {
    color: var(--CarolinaBlue);
    transition: 300ms ease-in-out;
}
.addToRosterAnimation {
    animation: jiggle 500ms ease-in-out;
} 
@keyframes jiggle {
    20% {
        transform: translateX(-20%)
    }
    40% {
        transform: translateX(20%)
    }
    60% {
        transform: translateX(-10%)
    }
    80% {
        transform: translateX(10%)
    }
}
.removeAnimation {
    background-color: transparent;
    transition: var(--animationDuration);
} 
.removeIAnimation {
    transform: scale(0.1) rotate(1turn);
    transition: var(--animationDuration) ease;
}




#lists__section h4{
    text-align: center;
}
#lists__box {
    border-radius: 10px;
    min-height: 2.4rem;
    margin-bottom: 10px;
    border: 5px inset white;
    color: #eee;
    padding-block: 2px;
    padding-inline: 10px;
}
.lists__item {
    display: flex;
    justify-content: space-between;
}
.lists__item input {
    margin-left: 0.2rem;
}