body {
  background: none;
  overflow-x: hidden;
}
main {
  background: none;
}
/* .tables{
  margin-block: 1rem;
}
.tables h2{
  text-align: center;
}
.tables div{
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.tables button {
  background-color: hotpink;
  width: 40%;
  border: none;
  border-radius: 10px;
  padding: 0.5rem;
}
.tables button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 200ms;
}
.hidden{
  transform: scale(0);
}
.small {
  width: 0px;
  height: 0px;
} */
#getData {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  aspect-ratio: 1;
  word-wrap: break-word;
  background-color: var(--YInMnBlue);
  color: white;
  border-radius: 10px;
}

#div__pointsTable {
  overflow: scroll;
  max-width: 99vw;
  max-height: 80vh;
  border: 1px solid var(--YInMnBlue);
  border-radius: 10px;
  transition: 1s ease-in-out;
}
#pointsTable,
td,
th {
  text-align: center;
}

#pointsTable {
  border-spacing: 0;
  position: relative;
  font-family: var(--grandstander);
  scale: 1;
  transition: 500ms;
}
#pointsTable thead {
  position: sticky;
  top: 0;
  z-index: 1;
}
#pointsTable td:first-child {
  position: sticky;
  left: 0;
}
#pointsTable thead th:first-child {
  position: sticky;
  left: 0;
}
tr:nth-child(odd) {
  background-color: var(--CarolinaBlue);
}
tr:nth-child(odd) td:first-child,
tr:nth-child(odd) td:nth-child(2) {
  background-color: var(--CarolinaBlue);
}
tr:nth-child(even) td:first-child,
tr:nth-child(even) td:nth-child(2) {
  background-color: white;
}
tr th:first-child,
tr th:nth-child(2) {
  background-color: white;
}

#appendDate {
  background-color: white;
}
.itemCSS {
  width: 100px;
  left: 0px;
  font-weight: bold;
  font-size: 1.3rem;
}
td:not(.total) {
  padding-block: 1rem;
  padding-inline: 1rem;
}
.s {
  color: red;
  display: flex;
  justify-content: center;
}
.me span {
  font-size: 8px;
  display: flex;
  justify-content: flex-end;
}

@media only screen and (min-width: 500px) {
  #div__pointsTable {
    max-width: 95vw;
    max-height: 90vh;
  }
}
