*, *::before, *::after {
  box-sizing: border-box;
} 
* {
  margin: 0;
  padding: 0; 
} 
:root {
  --animationDuration: 1000ms;
  --naplesYellow: #FEE165;
  --redOrange: #F6511D;
  --CarolinaBlue: #00A6ED;
  --OxfordBlue: #0D2C54;
  --YInMnBlue: #355070;
  --roboto: 'Roboto', sans-serif;
  --grandstander: 'Grandstander', cursive;
}
main {
  width: 100vw;
  margin: auto;
}
header {
  
  display: flex;
  width: 100%;
  padding-inline-end: 1rem;
  padding-block: 0.5rem;
  justify-content: end;
  align-items: center;
}
.nav-link {
  text-decoration: none;
  color: whitesmoke;
 
  font-size: 2rem;
  font-weight: bolder;
}

h1 {
  text-align: center;
  padding-block-end: 1rem;
}
#section__pointsTable {
  position: relative;
  overflow: auto;
 /*  white-space: nowrap; */
}
#pointsTable, td, th {
  text-align: center;
}

#pointsTable {
  border: 1px solid var(--YInMnBlue);
  overflow: hidden; 
  border-spacing: 0;
  border-radius: 10px;
  border-collapse: separate;
  width: 90%;
  min-height: 100vh;
  margin: 5px auto;
  box-shadow: 1px 1px 3px var(--YInMnBlue);  
  font-family: var(--grandstander);
}


tr:nth-child(odd) {
  background-color: var(--CarolinaBlue);
}
tr:nth-child(odd) td:first-child,
tr:nth-child(odd) td:nth-child(2) {
  background-color: var(--CarolinaBlue);
}
tr:nth-child(even) td:first-child,
tr:nth-child(even) td:nth-child(2)  {
  background-color: white;
}
tr th:first-child,
tr th:nth-child(2) {
  background-color: white;
}

#appendDate {
  background-color: white;
}
.itemCSS {
  width: 100px;
  left: 0px;
  font-weight: bold;
  font-size: 1.3rem;
}


td:not(.total) {
  padding-block: 1rem;
  padding-inline: 1rem;

}

.sticky {
  position: sticky;
  left: 0px;
  width: 100px;
}
.stickyTotal {
  position: sticky;
  overflow: hidden;
  left: 110px;
  width: 50px;
  
}
