body {
  background: none;
}
main {
  background: none;
}

#div__pointsTable {
  overflow: scroll;
  max-width: 99vw;
  max-height: 99vh;
  border: 1px solid var(--YInMnBlue);
  border-radius: 10px;
}
#pointsTable, td, th {
  text-align: center;
}

#pointsTable {
  border-spacing: 0;
  position: relative;
  font-family: var(--grandstander);
}
 #pointsTable thead {
  position: sticky;
  top: 0;
  z-index: 1;
} 
#pointsTable td:first-child {
  position: sticky;
  left: 0;
}
#pointsTable thead th:first-child {
  position: sticky;
  left: 0;
}
tr:nth-child(odd) {
  background-color: var(--CarolinaBlue);
}
tr:nth-child(odd) td:first-child,
tr:nth-child(odd) td:nth-child(2) {
  background-color: var(--CarolinaBlue);
}
tr:nth-child(even) td:first-child,
tr:nth-child(even) td:nth-child(2)  {
  background-color: white;
}
tr th:first-child,
tr th:nth-child(2) {
  background-color: white;
}

#appendDate {
  background-color: white;
}
.itemCSS {
  width: 100px;
  left: 0px;
  font-weight: bold;
  font-size: 1.3rem;
}
td:not(.total) {
  padding-block: 1rem;
  padding-inline: 1rem;

}


